DocumentRoot.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Thu Jan 10 2019 09:53:36 GMT+0530 (India Standard Time) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="DocumentRoot">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="element">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="age" type="xs:string"></xs:element>
                                             <xs:element name="firstName" type="xs:string"></xs:element>
                                             <xs:element name="lastName" type="xs:string"></xs:element>
                                             <xs:element name="mobile" type="xs:int"></xs:element>
                                             <xs:element name="name" type="xs:string"></xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
               </xs:complexType>
         </xs:element>
   </xs:schema>
 